 
# تجاهل البيئة الافتراضية
ve/
env/

# تجاهل ملفات قاعدة البيانات
*.sqlite3

# تجاهل ملفات Django المؤقتة
__pycache__/
*.pyc

# تجاهل إعدادات النظام
*.log
*.pot
*.py[cod]
*.swp

# تجاهل ملفات الميديا إذا لم تكن مطلوبة
/media
/staticfiles

# VSCode
.vscode/

# نظام التشغيل
.DS_Store
Thumbs.db
